<div class="col-sm-6">
    <div class="blog-grid">
        <div class="blog-img">
            <div class="date">
                <span>04</span>
                <label>FEB</label>
            </div>
            <a href="#">
                <img src="https://www.bootdey.com/image/400x200/FFB6C1/000000" title alt>
            </a>
        </div>
        <div class="blog-info">
            <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.</p>
            <div class="btn-bar">
                <a href="#" class="px-btn-arrow">
                    <span>Read More</span>
                    <i class="arrow"></i>
                </a>
            </div>
        </div>
    </div>
</div>