<div class="col-sm-6">
    <div class="blog-grid">
        <div class="blog-img">
            <div class="date">
                <span>{{ post.date|date:"d" }}</span>
                <label>{{ post.date|date:"M" }}</label>
            </div>
            <a href="{% url 'post_detail' post.id %}">
            <img src="{% if post.picture %} {{post.picture.url}} {% else %} https://www.bootdey.com/image/400x200/FFB6C1/000000  {% endif %}" title alt>
               
                
            </a>
        </div>
        <div class="blog-info">
            <h5><a href="{% url 'post_detail' post.id %}">{{ post.title|title }}</a></h5>

            <a href="{% url 'author_detail' post.author.id %}" style="color:#6c3483;font-size:17px;"><b>{{ post.author.name }}</b></a>
            
            <p>{{ post.detail|truncatechars:100 }}</p>
            <div class="btn-bar">
                <a href="{% url 'post_detail' post.id %}" class="px-btn-arrow">
                    <span>Read More</span>
                    <i class="arrow"></i>
                </a>
            </div>
        </div>
    </div>
</div>