{% extends 'blog_app/base.html' %}

{% block content %}
    <div class="col-lg-8 m-15px-tb">
        <div class="row">
            
            <!--Blog post-->
            {% for post in posts %}
                {% include 'blog_app/blog_post.html' %}
            {% endfor %}
           

            <!--Pagination-->
            <div class="col-12">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block sidebar %}
    <div class="col-lg-4 m-15px-tb blog-aside">
        {% include 'blog_app/sidebar_latest_post.html' %}
        {% include 'blog_app/sidebar_tags.html' %}
    </div>
{% endblock %}