 <div class="col-lg-8 m-15px-tb">
        <div class="row">
            
            <!--Blog post-->
            {% for post in posts %}
                {% include 'blog_app/blog_post.html' %}
            {% empty %}
                <div class="col-sm-6">
                    <div class="blog-grid">
                        <div class="blog-info">
                            <p> Sorry! No posts is there for this author </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
           
            {% if posts %}
            <!--Pagination-->
                <div class="col-12">
                    <ul class="pagination justify-content-center">
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="" id="{{ posts.previous_page_number }}{{ posts.previous_page_number }}" onclick="change_page({{ posts.previous_page_number }},{{ posts.previous_page_number }}{{ posts.previous_page_number }})" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="" id="{{ posts.previous_page_number }}" onclick="change_page({{ posts.previous_page_number }},{{ posts.previous_page_number }})">{{ posts.previous_page_number }}</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                            </li>
                        {% endif %}
                        
                        <li class="page-item active">
                            <a class="page-link" href="" id="{{ posts.number }}" onclick="change_page({{ posts.number }},{{ posts.number }})"> {{ posts.number }} <span class="sr-only">(current)</span></a>
                        </li>
                        

                        {% if posts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="" id="{{ posts.next_page_number }}" onclick="change_page({{ posts.next_page_number }},{{ posts.next_page_number }})" >{{ posts.next_page_number }}</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="" id="{{ posts.next_page_number }}{{ posts.next_page_number }}" onclick="change_page({{ posts.next_page_number }},{{ posts.next_page_number }}{{ posts.next_page_number }})">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        {% endif %}

                        
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>