<div class="widget widget-latest-post">
    <div class="widget-title">
        <h3>Latest Post</h3>
    </div>
    <div class="widget-body">

        {% for post in latest_post %}
        <!--single latest post-->
            <div class="latest-post-aside media">
                <div class="lpa-left media-body">
                    <div class="lpa-title">
                        <h5><a href="{% url 'post_detail' post.id %}">{{ post.title|title }}</a></h5>
                    </div>
                    <div class="lpa-meta">
                        <a class="name" href="{% url 'author_detail' post.author.id %}">
                           {{ post.author.name }}
                        </a>
                        <a class="date">
                            {{ post.date|date:"d M Y" }}
                        </a>
                    </div>
                </div>
                <div class="lpa-right">
                    <a href="{% url 'post_detail' post.id %}">
                        <img src="https://www.bootdey.com/image/400x200/E6E6FA/000000" title alt>
                    </a>
                </div>
            </div>

        {% endfor %}

    </div>
</div>