<div class="widget widget-tags">
    <div class="widget-title">
        {% if tag_title %}
            <h3>{{ tag_title|title }}</h3>
        {% else %}
            <h3>Latest Tags</h3>
        {% endif %}
    </div>
    <div class="widget-body">
        <div class="nav tag-cloud">
            {% for tag in tags %}
                {% if tag.id in selected_tags %}
                    <a href="" id="{{ tag.id }}" onclick="tag_click({{ tag.id }})" class="tags" data-mark="true" style="background:#fc5356" >{{ tag.label|capfirst }}</a>
                {% else %}
                    <a href="" id="{{ tag.id }}" onclick="tag_click({{ tag.id }})" class="tags" data-mark="false">{{ tag.label|capfirst }}</a>
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
</div>